
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.nav-primary {
    height: 5vh;
    min-height: 29.7667px;
    background-color: #4faba1;
    color: white;
    display: flex;
    justify-content: space-between;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
}

.icon-properties {
    color: white;
}

.block-1 {
    display: flex;
    width: 20%;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 5%;
    right: 0;
    height: 100%;
}

.block-2 {
    width: 38%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    right: 5%;
    top: 0;
    height: 100%;
}

#language select {
    background-color: #4faba1;
    border: none;
    width: 4.2vw;
    color: white;
    font-size: 0.8rem;
    outline: none;
}


.nav-secondary {
    height: 15vh;
    min-height: 89.3px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.logo-width {
    height: 50%;
}

.navigation {
    width: 45vw;
    display: flex;
    height: 100%;
}

.navigation ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul li {
    list-style: none;
}

.navigation ul li a {
    text-decoration: none;
    color: #51584b;
}
.navigation ul li a:hover{
    color: black;
}

.btn {
    height: 39%;
    width: 7%;
    background-color: #4faba1;
    color: white;
    border: none;
    font-size: 0.75rem;
}

.btn:hover {
    cursor: pointer;
    background-color: #318f84;
    transition-property: background-color;
    transition-duration: 2s;
}



.banner {
    height: 59%;
    background: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    display: flex;
    flex-direction: column;
    min-height: 340px;
    justify-content: space-between;
}

.banner-head-1 {
    width: 88%;
    margin: auto auto;
    text-align: center;
    font-family: "Raleway", sans-serif;

}
.banner-head-1 h1{
    color: white;
    padding-bottom: 12px;
}
.banner-head-1 a{
    color: white;
    text-decoration: none;
}
.banner-head-1 a:hover{
    color: rgb(10, 170, 160);
    transition: all 0.3s;
}
.banner-head-1 span{
    color: rgb(10, 170, 160);
}

.banner-head-2{
    width: 88%;
    margin: 0 auto;    
    text-align: right;
    font-family: "Roboto", sans-serif;
    margin-bottom: 15px;
}
.banner-head-2 a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.banner-head-2 a i{
    color: rgb(10, 170, 160)
}


.main-box {
    display: grid;
    margin: 100px auto;
    width: 89%;
    grid-template-columns: repeat(3, auto);
    gap: 25px 20px;
}

.container {
    border: 1px solid #eed1d1;
    width: 97%;
    font-family: 'Roboto', sans-serif;
}

.container:hover {
    box-shadow: 1px 1px 15px #bbafaf;
    transition: all 0.3s;
}

.img {
    position: relative;

}

.img img {
    width: 100%;
}

.date {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0aaac0;
    color: white;
    line-height: 70px;
    width: 75px;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.date:hover {
    cursor: pointer;
}

.blog-info {
    display: flex;
    justify-content: space-between;
    margin: 15px 15px 0px 15px;
    font-size: 14px;
    color: #888;
}

.blog-info .fa-solid:hover {
    color: rgb(10, 170, 160);
    cursor: pointer;
}


.blog-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 11px;
    padding: 15px;

}

.blog-text h3 {
    color: #1b1b1b;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.blog-text h3:hover {
    color: rgb(10, 170, 160);
    cursor: pointer;
    transition: all 0.2s;
}

.blog-text p {
    text-align: justify;
    color: #333;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 17px;
}

.blog-text a {
    text-align: right;
    color: black;
    font-size: 14px;

}

.blog-text a:hover {
    color: #0aaac0;
    transition: all 0.5s;
}

.admin {
    display: flex;
}

.comment {
    display: flex;
}

.fa-solid{
    height: 1.2em;
    padding-right: 3px;
}

.fa-solid :hover{
    color: #0aaac0;
    transition: all 0.5s;
}


.sponsors {
    height: 28vh;
    min-height: 198px;
    position: relative;
    width: 89%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10%;
}

.sponsor-heading h2 {
    font-size: 36px;
    text-align: center;
}

.sponsor-heading h2 span:nth-child(2) {
    color: #4faba1;
}

.sponsor-heading h2:after {
    content: "";
    top: 45px;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 15%;
    height: 0.39%;
    background-color: #c1c1c1;
    display: block;
}

.sponsor-logos {
    display: flex;
    justify-content: space-between;
}

.sp-logo {
    border: 1px solid #f4ecec;
    padding: 30px 18px;
}

.sp-logo:hover {
    box-shadow: 1px 1px 7px #bbafaf;
    transition: all 0.3s;
}
.ftr{
    color:white;
    background-color: rgb(40, 38, 38);
    display: inline-flex;
    text-decoration: none;
}
.abt{
    padding-right: 6em;
    margin-top: 3em;
    margin-left: 6em;
    font-size: large;
}
.cntc{
    margin-top: 3em;
}
.project{
    padding-right: 6em;
    margin-top: 3em;
    font-size: large;
}
.qkl{
    padding-right: 6em;
    margin-top: 3em;
    font-size: large;
}
.news{
    padding-right: 6em;
    margin-top: 3em;
    font-size: large;
}
.ftr h3{
    padding-bottom: 3em;
}
.abt ul li {
    list-style: none;
    padding:0.45em ;
}
.project ul li {
    list-style:none;
    padding:0.5em;
    
}
.qkl ul li{
    list-style:none;
    padding:0.5em;
}
.head{
    font-size:xx-large;
    padding-bottom: 1em;
    padding-left: 17em;
    padding-top: 4em;
}
.head span{
    color:rgb(21, 155, 155);
}
.info{
    padding-left: 30em;
}
.info2{
    padding-left: 33em;
    padding-bottom: 3em;
}
.person{
    display: inline;
}

select{
    color:white;
    cursor: pointer;
}
select:hover{
    color:black;
}
.persons{
    display: flex;
    padding-left: 14em;
    padding-bottom: 8em;
}
.sanion{
    padding-left: 1em;
}
.smith{
    padding-left: 1em;
}
.koy{
    padding-left: 1em;
}
.name1{
    padding-left: 4em;
}
.name2{
    padding-left: 4em;}

.post1{
        padding-left: 4em;}
 .post2{
            padding-left: 4em;}

            .name3{
                padding-left: 4em;
            }
            .name4{
                padding-left: 4em;}
            
            .post3{
                    padding-left: 4em;}
             .post4{
                        padding-left: 4em;}

.testimonial{
    background:rgba(0,0,0,0.7) url(/images/bg2.jpeg);
    background-size:cover;
    background-blend-mode:darken;
    width: 100%;
}
.head1{
    font-size: xx-large;
    color: white;
    padding-left: 18em;
    padding-top: 2em;
}
#sec3{
    margin-left: 40em;
    margin-top: 10em;
border-radius: 70%;
}
.dev{
    font-size: medium;
    color:white;
    padding-left: 30em;
    padding-top: 5em;
}
.div{
    font-size: x-large;
    color:white;
    padding-left: 27em;
    padding-top: 1em;
}
.direct{
    font-size: large;
    color:white;
    padding-left: 38em;
    padding-top: 1em;
    padding-bottom: 3em;
}
.ftr2{
    background-color: rgb(25, 24, 24);
    display: flex;
    height:3em;
}
.grant{
    color:white;
    padding-right: 35em;
    padding-left: 7em;
    padding-top: 0.5em;
}
.log li{
    text-decoration: none;
    list-style: none;
    padding:0.3em;


}
.log{
    padding-left: 15em;
    display: flex;
    padding-top: 0.5em;
}





